/*contacts*/

	.address { margin-top: 1px;}
	.address span {display: inline-block;width: 77px;} 
	.address dt { margin-bottom: 22px; /* font-size: 14px; */ font-weight: normal; /* font-weight: bold; */ color: #aea8b1;}
		.address span.e-mail {width:auto;}
		.address a {	text-decoration: none;	margin-left: 12px;}
	.map_wrapper {display: block;padding-bottom: 2px;}
		.map_wrapper .img-bord-1 { margin-bottom: 24px;}

	#map_canvas {
		width: 557px;
		height: 375px;
		margin-top: -2px;
	}
	#contact-form {
		position: relative;
		padding-bottom: 10px;
		padding-top: 13px;
	}
	#contact-form .error, #contact-form .empty {
		text-align: right;
		color: red;
		right: 4px;
		top: -2px;
		display: none;
		overflow: hidden;
		position: absolute;
		font-size: 11px;
	}
	#contact-form .success {
		width: 100%;
		top: 0px;
		left: 0;
		z-index: 99;
		text-align: center;
		padding: 115px 0;
		border: 1px solid #3a323d;
		background: #312934;
		color: #837a86;
		font-size: 15px;
		line-height: 20px;
		font-family: 'PT Sans', sans-serif;
		position: absolute;
		display: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}
	#contact-form label {
		display: inline-block;
		position: relative;
		min-height: 70px;
	}
	#contact-form label:first-child + label { float: right;}
	#contact-form label.message {padding-bottom: 0;	width: 100%;/* min-height: 0px; */float: none;}
	#contact-form textarea {
		overflow: auto;
		width: 100%;
		height: 247px;
		resize: none;
		margin: 0 0 0 0;
	}
	#contact-form label input,
	#contact-form label textarea {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px solid #3a323d;
		background: #312934;
		position: relative;
		float: left;
		color: #837a86;
		font-size: 15px;
		line-height: 20px;
		font-family: 'PT Sans', sans-serif;
		border-radius: 0px;
	}
	#contact-form label input {
		height: 47px;
		width: 460px;
		box-shadow: none !important;
		padding: 13px 7px 12px 17px;
		outline: none;
	}
	#contact-form label textarea {
		height: 189px;
		overflow: auto;
		width: 100%;;
		padding: 13px 7px 12px 17px;
		margin: 0px;
		resize: none;
	}
	.form_buttons {	text-align: right;	padding-top: 36px;}
	.form_buttons a {display: inline;}
	.form_buttons a:first-child {margin-top: 24px;}



@media only screen and (max-width: 1025px) {
	#contact-form label input {	width: 100%;}
	#contact-form label {display: block; width: 100%;}
	#contact-form label textarea {	width: 100%; float: none;}
}
@media only screen and (max-width: 995px) {
	
	#contact-form label {display: block; width: 100%;}
	#contact-form label input {	width: 100%;}
	#map_canvas {margin-bottom: 20px; width: 420px; height: 420px;}
}
@media only screen and (max-width: 767px) {
	.map_wrapper .img-ind { margin-right: 0; float: none;}
	#map_canvas {width: 100%; height: 300px;}


}
@media only screen and (max-width: 479px) {
}
@media only screen and (max-width: 320px) {
}

