nav { 
	float: right;
	position:relative; 
	z-index: 111;
}

.sf-menu {margin-top: 0px; }
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li { 
	position:relative;
}
.sf-menu a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}
		.sf-menu a:hover {text-decoration: none; }
		.sf-menu li:hover span {color:#ffffff;}

/*================================>> 1 Level <<========================================*/

.sf-menu > li > a {
	display:block;
	padding: 56px 41px 64px;
    position: relative;
}
.sf-menu > li {
	float: left;
	display: block;
	position: relative;
	margin-bottom: -9px;
}
	.sf-menu > li {
	 transition: background-position 0.4s ease;
    background: transparent url(../images/bg-1.gif) 0 -160px repeat-x;
}

	.sf-menu > li:hover, 
	.sf-menu > li.current, 
	.sf-menu > li.sfHover {
		background: transparent url(../images/bg-1.gif) center 0 repeat-x;
		 transition: background-position 0.4s ease;
	}
	.sf-menu > li:hover > a, 
	.sf-menu > li.current > a, 
	.sf-menu > li.sfHover > a { color: #f1cd69;}

	.sf-menu > li > a > .sf-sub-indicator {
		display: block;
		overflow: hidden;
		height: 0px;
		width: 0px;
		text-indent: -1000px;
		position: absolute;
		bottom: 30px;
		left: 50%;
		margin-left: -4px;
		border: 4px solid;
		border-color: #fff transparent transparent transparent;
		transition: all 0.4s ease;
	}
	.sf-menu > li:hover > a > span, 
	.sf-menu > li.current > a > span,
	.sf-menu > li.sfHover > a > span { color: #f1cd69; border-color: #f1cd69 transparent transparent transparent; bottom: 20px; }



/*================================>> 2 Level <<========================================*/
.sf-menu > li > ul, 
.sf-menu > li.sfHover > ul {
	left: 0px;
	top: 134px;
	width: 100%;
	z-index:99;
	background: #f3cd52;
	padding-top: 33px;
	padding-bottom: 18px;
	text-align: center;
}
.sf-menu > li > ul > li {padding: 3px 10px;}

.sf-menu > li > ul > li > a {
	display: inline-block;
	color: #ffffff;
	letter-spacing: 0px;
}
.sf-menu > li > ul > li:first-child > a { background: none;}

.sf-menu > li > ul > li > a:hover,
.sf-menu > li > ul > li.sfHover > a,
.sf-menu > li > ul > li:hover > a span,
.sf-menu > li.sfHover > ul > li.sfHover > a > span {
	color: #000000;
}

/*.sf-menu li li:hover, */
/*.sf-menu li.sfHover li.sfHover { background: url(../images/arrow-2.png) right center no-repeat;}*/
.sf-menu li.sfHover span {
	color: #242424;
}
	.sf-menu > li > ul .sf-sub-indicator {line-height: 34px;position: absolute;top: -2px;right: 21px;}

/*================================>> 3 Level <<========================================*/

.sf-menu li li ul {
	left: 113px;
	top: -11px;
	width: 99px;
	z-index:99;
	background-color: #523c28;
	position: absolute;
	padding-top: 14px;
	padding-bottom: 14px;

}
.sf-menu li li li {padding: 0 17px;}
.sf-menu li li li a {
	display: block;
	line-height: 14px;
	text-align: left;
	font-weight: bold;
	font-size: 15px;
	color: #a99583;
	background: url(../images/bord-2.png) 0 0 repeat-x;
	padding: 10px 0px;
}
.sf-menu li li li:first-child a { background: none;}
.sf-menu li li li:hover {}
	.sf-menu li li li:hover a {	color: #fff;}


/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
	.sf-menu > li > a {padding: 56px 30px 64px;}
}

@media only screen and (max-width: 767px) {
	.sf-menu { display:none; }

	nav select {
		height: 30px;
		border: 1px solid #bebebe;
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 20px;
		color: #312934;
		background-color: #f1cd69;
		width:100%;
	    outline: none;
	    padding: 5px;
		font-weight: normal;
		margin-bottom: 0px;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	nav select option:first-child {
		color:#000;
	}
	header nav,	header h1 {	float: none;}
}

@media only screen and (max-width: 479px) {

}